<div class="jumbotron">
<div class="container">
  <% if current_user %>
  <div class="page-header"><h1 align="center">Handover</h1></div>
  <h2 align="center"> An automatic support escalation system</h2>
  <%= render 'shared/file' %>
  <h3>Decision Tree</h3>
 <% end %>
</div>
</div>