<div class="jumbotron">
<div class="container">
  <div class="page-header"><h1 align="center">Handover</h1></div>
  <h2 align="center"> An automatic support escalation system</h2>
   <p align="center">
    <%= link_to sign_in_path, class: 'btn btn-primary btn-lg' do %>
     &laquo; Sign In 
    <% end %>
    <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
      Sign Up &raquo;
    <% end %>
  </p>
</div>
</div>